body{
	font-family: Open Sans;
}


.navbar{ /* assigning the top bar to the entire navbar div element */
    text-align: center;
    font-weight: bold;
    box-shadow: inset 0px 3px 10px #9d9d9d; /* initial gray color to the top bar */   
	margin: 0px;
}

.navbar-default .navbar-nav>.active>a{
	background-color: #434A54 !important;
}

.navbar-fixed-top{
    border-bottom: 10px solid #434A54;
}
.navbar-toggle {
	border: none;
	background: transparent !important;
}

.navbar-toggle .icon-bar {
    width: 22px;
    transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}

.navbar-toggle .top-bar {
    transform: rotate(45deg) ;
    transform-origin: 10% 10% ;
}
.navbar-toggle .middle-bar {
	opacity: 0;
}
 .navbar-toggle .bottom-bar {
    transform: translate(-22px, 0px) rotate(135deg);
	transform-origin: 100% 100%;
    
}

.navbar-toggle.collapsed .top-bar {
    transform: rotate(0);
}
.navbar-toggle.collapsed  .middle-bar {
    opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
    transform: rotate(0);
}

.galleryRow{
	padding: 0;
	margin: 0;
}

.galleryRow li{
	list-style: none;
	margin-bottom: 25px;
}

.galleryRow li img{
	cursor: pointer;
}

.glyphicon-facebook{
	background: url('../img/facebook.png') no-repeat center center fixed;
}

.media  img{
	max-width: none;
}

#myCarousel{
	border-bottom: 10px solid;
	border-bottom-color: #d9534f;
}

.carousel{
	display:none;
	width: 100%;
	background-color: grey;
	z-index: 1;
}
.carousel-inner{
	width: 100%;
	max-height: 300px;
}
.carousel-inner > .item > img {
	max-height: 300px;
}

.affix{
	top:50px;
	width: 100%;
}
.affix + .container{
	padding-top: 300px;
	z-index:-99;
}
.affix-top{
	position: fixed;
	top: 50px;
}

.affix-top + .container{
	padding-top: 300px;
	z-index: -99;
}

.fade{
	transition: opacity 1s;
}

.background{
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -99;
	background: url('../img/background.jpg') no-repeat center center fixed;
	background-size: cover;
	opacity: 0;
}
.background.in{
	opacity: 0.2;
}

.btn.outline {
    background: none;
    padding: 12px 22px;
}



.thumbnail{
	background: transparent;
	display:table;
	border: none;
}

.thumbnail_wrapper {
    display:table-cell;
    vertical-align:middle;
}
.thumbnail_wrapper > img {
    width:100%;
}

p.list-group-item-text{
	margin: 0px;
}

a.list-group-item{
	padding: 0px;
}
a.list-group-item.disabled, a.list-group-item.disabled:focus, a.list-group-item.disabled:hover{
	color: #000;
	cursor: default;
	background-color: #FFF;
}

a.list-group-item .row{
	margin:0px;
}

.contactLogo{
	height: 80px;
	width: 80px;
}

.contactContent{
	height: 80px;
	line-height:80px;
}
.list-group-item-heading{
	line-height: 40px;
}

.red{
	background-color: #FC6E51;
}
.blue{
	background-color: #4FC1E9;
}
.green{
	background-color: #A0D468;
}
.yellow{
	background-color: #FFCE54;
}

.VerseDarkGrey{
	color: #222222;
}

.VerseMediumGrey{
	color: #555555;	
}

li.active > a:hover{
	background-color:#434A54 !important;
	cursor: default;
}

.active > .RedBtn{
	color: #d9534f !important;
}

:not(.active)> .RedBtn:hover{
	color: #f8f8f8 !important;
	background-color: #d9534f !important;
	box-shadow: inset 0px 5px 5px 0px #ed5565;
	transition: background-color 0.3s, color 0.3s;
}

.active > .OrangeBtn{
	color: #fa6800 !important;
}

:not(.active)> .OrangeBtn:hover{
	color: #f8f8f8 !important;
	background-color: #fa6800 !important;
	box-shadow: inset 0px 5px 5px 0px #f0a30a;
	transition: background-color 0.3s, color 0.3s;
}

.active > .YellowBtn{
	color: #f6bb42 !important;
}

:not(.active)> .YellowBtn:hover{
	color: #f8f8f8 !important;
	background-color: #f6bb42 !important;
	box-shadow: inset 0px 5px 5px 0px #ffce54;
	transition: background-color 0.3s, color 0.3s;
}

.active > .BlueBtn{
	color: #428bca !important;
}

:not(.active)> .BlueBtn:hover{
	color: #f8f8f8 !important;
	background-color: #428bca !important;
	box-shadow: inset 0px 5px 5px 0px #5d9cec;
	transition: background-color 0.3s, color 0.3s;
}

.active > .GreenBtn{
	color: #5cb85c !important;
}

:not(.active)> .GreenBtn:hover{
	color: #f8f8f8 !important;
	background-color: #5cb85c !important;
	box-shadow: inset 0px 5px 5px 0px #a0d468;
	transition: background-color 0.3s, color 0.3s;
}

.active > .PurpleBtn{
	color: #d770ad !important;
}

:not(.active)> .PurpleBtn:hover{
	color: #f8f8f8 !important;
	background-color: #d770ad !important;
	box-shadow: inset 0px 5px 5px 0px #ec87c0;
	transition: background-color 0.3s, color 0.3s;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 3px solid #eee;
    border-left-width: 0px;
	border-right-width: 0px;
    border-radius: 3px;
}
.bs-callout h2 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-top-color: #777;
	border-bottom-color: #777;
}
.bs-callout-default h2 {
    color: #777;
}
.bs-callout-primary {
    border-top-color: #428bca;
	border-bottom-color: #428bca;
}
.bs-callout-primary h2 {
    color: #428bca;
}
.bs-callout-success {
    border-top-color: #5cb85c;
	border-bottom-color: #5cb85c;
}
.bs-callout-success h2 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-top-color: #d9534f;
	border-bottom-color: #d9534f;
}
.bs-callout-danger h2{
    color: #d9534f;
}
.bs-callout-warning {
    border-top-color: #f0ad4e;
	border-bottom-color: #f0ad4e;
}
.bs-callout-warning h2 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-top-color: #5bc0de;
	border-bottom-color: #5bc0de;
}
.bs-callout-info h2 {
    color: #5bc0de;
}

.bs-callout-orange{
	border-top-color: #fa6800;
	border-bottom-color: #fa6800;
}
.bs-callout-orange h2{
	color: #fa6800;
}

.bs-callout-purple{
	border-top-color: #d770ad;
	border-bottom-color: #d770ad;
}
.bs-callout-purple h2{
	color: #d770ad;
}

