body{
	font-family: Open Sans;
}

.navbar{ /* assigning the top bar to the entire navbar div element */
    text-align: center;
    font-weight: bold;
    box-shadow: inset 0px 3px 10px #9d9d9d; /* initial gray color to the top bar */   
}

.navbar-inverse .navbar-nav > li:not(.active) > a:hover, .navbar-inverse .navbar-nav > li:not(.active)> a:focus {
	color: #000;
	background-color: #EEE;
	box-shadow: 0 0px 16px 0 rgba(255,255,255,0.5),0 0px 20px 0 rgba(255,255,255,0.4);
	transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover{
	color: #FFF;
	background-color: #9d9d9d;
	box-shadow: inset 0px 0px 20px #808080;
}

.navbar-fixed-top{
    border-bottom: 10px solid #c2364f;
}


.btn-xl {  
    padding: 15px 22px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 6px
}

.galleryRow{
	padding: 0;
	margin: 0;
}

.galleryRow li{
	list-style: none;
	margin-bottom: 25px;
}

.galleryRow li img{
	cursor: pointer;
}

.glyphicon-facebook{
	background: url('../img/facebook.png') no-repeat;
}

.media  img{
	max-width: none;
}

.carousel{
	display:none;
	width: 100%;
	background-color: grey;
	z-index: 1;
}

.affix{
	top:50px;
	width: 100%;
}
.affix + .container{
	padding-top: 300px;
	z-index:-99;
}
.affix-top{
	position: fixed;
	top: 50px;
}

.affix-top + .container{
	padding-top: 300px;
	z-index: -99;
}

.jumbotron{
	background-color: transparent;
}

.background{
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -99;
	background: url('../img/background.jpg') no-repeat center center fixed;
	background-size: cover;
	opacity: 0.7;
}

.fade{
	transition: opacity 1s;
}

.btn.outline {
    background: none;
    padding: 12px 22px;
}

.btn-primary.outline {
    border: 2px solid #0099cc;
    color: #0099cc;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #33a6cc;
    border-color: #33a6cc;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #007299;
    color: #007299;
    box-shadow: none;
}

#subMenuContainer{
	padding-top:50px;
	padding-left: 30px;	
}

#subMenuContainer .nav>li{
	width: 130px
}

#subMenuContainer .nav>li>a{
	color: #767676;
	font-size: 14px;
}

#subMenuContainer .nav>li.active{
	border-color: grey;
	border-right: 5px solid;
	
}

.about  .jumbotron h1{
	margin-top: 0px;
}

.thumbnail{
	background: transparent;
	display:table;
	border: none;
}

.thumbnail_wrapper {
    display:table-cell;
    vertical-align:middle;
}
.thumbnail_wrapper > img {
    width:100%;
}

p.list-group-item-text{
	margin: 0px;
}

a.list-group-item{
	padding: 0px;
}
a.list-group-item.disabled, a.list-group-item.disabled:focus, a.list-group-item.disabled:hover{
	color: #000;
	cursor: default;
	background-color: #FFF;
}

a.list-group-item .row{
	margin:0px;
}

.contactLogo{
	height: 80px;
	width: 80px;
	background-color: red;
}

.contactContent{
	height: 80px;

}

.red{
	background-color: #FC6E51;
}
.blue{
	background-color: #4FC1E9;
}
.green{
	background-color: #A0D468;
}
.yellow{
	background-color: #FFCE54;
}